.blog-section{
    @extend %section;
    .blog-content{
        width: 50%;
        position: relative;
        padding: 50px 50px 50px 50px;
        background-color: #8B7D7B;
        color: #f1f1f1;
        .slide-blog-content{
            padding: 10px;
        }
        a{
            @extend %allButton;
            padding: 0;
            color: #f1f1f1;
            font-weight: 400; 
        }
        p{
            overflow: hidden;
            -webkit-line-clamp: 3;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            padding-bottom: 0;
        }
    }

    .blog-image{
        width: 50%;
        img{
            width: 100%;
             height: 400px;
            object-fit: cover;
        }
    }


/*To create slider button*/
    .slide-next{
        background-color: #21212161;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: -30px;
        left: 0;
        padding: 10px;
        transition: all 0.4s linear;
        z-index: 10;
        .fas{
            color: #f1f1f1;
            font-size: 1.5rem;
        }
    }

    .slide-prev{
        padding: 10px;
        background-color: #21212161;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        margin-left: 30px;
        z-index: 10;
        transition: all 0.4s linear;
        .fas{
            color: #f1f1f1;
            font-size: 1.5rem;

        } 
    }
    .slide-next:hover, .slide-prev:hover{
        color: #8B7D7B;
        background-color: rgba(0, 0, 0, 0.32);

    }
}
